@media screen and ( max-width: 1280px )
	.container
		width: 1080px

	.paragraph
		max-width: 500px

	.worth__item
		width: 430px

	.screenshots__item
		width: 480px

	.reviews__item
		width: 470px

@media screen and ( max-width: 1080px)
	.container
		width: 100%

	.main__header .container,
	.section .container,
	.worth__list,
	.screenshots__list,
	.reviews__list
		align-items: center
		display: flex
		flex-direction: column

	.advantages
		align-items: center
		justify-content: center
		flex-direction: column-reverse

	.worth__item,
	.screenshots__item,
	.reviews__item,
		margin-right: 0
		margin-left: 0
		margin-bottom: 30px

	.advantages__item
		margin-right: 0 !important
		margin-left: 0 !important
		width: 100%

	.header
		margin-bottom: 40px

	.main__img,
	.section__img,
	.section__img--right
		margin-bottom: 30px
		max-width: max-content
		float: none

@media screen and ( max-width: 772px)
	.container
		padding: 0 20px

	.footer__contacts
		align-items: center
		flex-direction: column

		&__form
			margin: 0 0 40px 0
			width: 100%

		&__info__list
			display: flex
			flex-direction: column
			align-items: center

	.footer__social-links__list
		margin-top: 20px

	.main__header .container,
	.section .container,
	.worth__list,
	.screenshots__list,
	.reviews__list
		width: 100%
		padding: 0 10px

	.worth__item
		width: 70%
		margin: 0 10px 40px 20px

	.screenshots__item,
	.reviews__item,
	.advantages__item
		width: 100%
		margin: 0 10px 40px 0

	.main__img,
	.section__img,
	.section__img--right,
	.paragraph
		margin-left: 10px
		margin-right: 10px
		max-height: max-content
		width: 100%
