header.main__header
	video.main__video(src="./videos/header-video.mp4", loop, autoplay)
	.container
		h1.header.header--main Product name
		ul.main__list
			li.main__list__item
				| Put on this page information about your product
			li.main__list__item
				| A detailed description of your product
			li.main__list__item
				| Tell us about the advantages and merits
			li.main__list__item
				| Associate the page with the payment system
		.clrfx
